<!DOCTYPE html>
<html>
<head>
	<title>Victory-V история стройки</title>

	<link href="/app/css/style.css" rel="stylesheet">
	<link href="/node_modules/material-design-lite/material.css" rel="stylesheet">
	
	<script src="/node_modules/material-design-lite/material.min.js"></script>
	
	
	
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header">
		<div class="mdl-layout__header-row">
			<span class="mdl-layout-title">Victory-V история строительства дома</span>
			<div class="mdl-layout-spacer"></div>
			<nav class="mdl-navigation mdl-layout--large-screen-only">
				<a class="mdl-navigation__link" href="">Главная</a>
			</nav>
		</div>
	</header>
	<div class="mdl-layout__drawer">
	<span class="mdl-layout-title">Victory-V</span>
	<nav class="mdl-navigation">
		<a class="mdl-navigation__link" href="/">Главная</a>
		<a class="mdl-navigation__link" href="">О доме</a>
	</nav>
	</div>
	
	<main class="mdl-layout__content">
		<div id='app'>
			<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
				<input type="checkbox" id="is_night" class="mdl-switch__input" >
				<span class="mdl-switch__label">Ночные фото</span>
			</label>
		
			<div v-if="images_loaded === total_images">
				Перетащите ползунок для просмотра истории:
				
				<input class="mdl-slider mdl-js-slider" type="range"  
					min="0" 
					:max="total_images - 1" 
					v-model="current_frame"
				>
			</div>
			
			<div class='loadingBar' v-else>
				Загружается... {{ images_loaded }} / {{ total_images }}
			</div>
			
			<ul id='display'>
				<li v-for="frame of frames">
					<img :src="frame.url" v-show="frame.no == current_frame" @load="frameLoaded">
				</li>
			</ul>
			
			<p>Кадр: {{ current_frame }} <br>
			
			
		</div>
	</main>
</div>


<script src="/node_modules/vue/dist/vue.min.js" type="text/javascript"></script>
<script src="/node_modules/vue-resource/dist/vue-resource.min.js" type="text/javascript"></script>
<script src="/app/app.js" type="text/javascript"></script>
	
</body>
</html>