body {
    background-color: palegoldenrod;
}

section.header {
    width: 1200px;
    margin: 100px auto;

}

section.main {
    width: 1000px;
    margin: 100px auto;
}

div {
    box-sizing: border-box;
}

#application {

}

@import "./compare.scss";
